<div class="container-fluid summary">
    <div class="d-flex justify-content-between align-items-center my-3">
        <h2 class="m-0 fs-5 summary-page-title">@PageTitle</h2>
        <div class="btn-toolbar d-none d-md-flex summary-toolbar">
            <div class="btn-group btn-group-sm me-2">
                <RadzenButton Text="Yeni" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" Click="OnCreate" />
            </div>
            @*<div class="btn-group btn-group-sm">
                <RadzenButton Text="İçeri Aktar" Icon="file_upload" ButtonStyle="ButtonStyle.Info" />
                <RadzenButton Text="Dışarı Aktar" Icon="file_download" ButtonStyle="ButtonStyle.Info" />
            </div>*@
        </div>
        <div class="dropstart d-flex d-md-none">
            <button class="btn btn-primary btn-sm" data-bs-toggle="dropdown">
                <span class="material-icons">keyboard_command_key</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button class="dropdown-item" @onclick="OnCreate">
                    <span>Yeni</span>
                </button>
                <hr class="dropdown-divider" />
                <button class="dropdown-item">
                    <span>İçeri Aktar</span>
                </button>
                <button class="dropdown-item">
                    <span>Dışarı Aktar</span>
                </button>
            </div>
        </div>

    </div>
    @if (SearchTemplate != null)
    {
        <RadzenAccordion>
            <Items>
                <RadzenAccordionItem Text="Filtre" Icon="search">
                    <form @onsubmit="OnSearchAsync">
                        @SearchTemplate
                        <div class="container-fluid mt-3">
                            <div class="d-flex justify-content-end align-items-center">
                                <RadzenButton Text="Arama" Icon="search" IsBusy="_searchIsBusy" />
                            </div>
                        </div>
                    </form>
                </RadzenAccordionItem>
            </Items>
        </RadzenAccordion>
    }
    <div class="my-3">
        <RadzenCard>
            <div class="d-none d-md-block">
                @Template
            </div>
            <div class="d-block d-md-none">
                @MobileTemplate
            </div>
        </RadzenCard>
    </div>
</div>