<div class="container-xl">
    <div class="d-flex flex-column">
        <div class="d-flex flex-wrap flex-row justify-content-between my-3">
            <h2 class="m-0 fs-4 fw-semibold">@Title</h2>
            @if (TopToolbar != null)
            {
                <div class="btn-toolbar">
                    @TopToolbar
                </div>
            }
        </div>
        <div class="my-3">
            <div class="card">
                <div class="card-body">
                    @Body
                </div>
            </div>
        </div>
        <div class="page-footer">

        </div>
    </div>
</div>

@if (BottomToolbar != null)
{
    <footer class="d-flex d-md-none">
        <div class="btn-toolbar">
            @BottomToolbar
        </div>
    </footer>
}

@code {

    [Parameter]
    public RenderFragment Body { get; set; }

    [Parameter]
    public RenderFragment BottomToolbar { get; set; }

    [Parameter]
    public RenderFragment Footer { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment TopToolbar { get; set; }
}