<div class="container-fluid summary">
    <div class="d-flex justify-content-between align-items-center my-3">
        <h2 class="m-0 fs-5 summary-page-title">@PageTitle</h2>
        <div class="btn-toolbar d-none d-md-flex summary-toolbar">
            <div class="btn-group me-2">
                <button class="btn btn-primary" @onclick="OnCreate">
                    <span>Yeni</span>
                </button>
            </div>
            <div class="btn-group">
                <button class="btn btn-secondary">
                    <span>İçeri Aktar</span>
                </button>
                <button class="btn btn-secondary">
                    <span>Dışarı Aktar</span>
                </button>
            </div>
        </div>
        <div class="dropstart d-flex d-md-none">
            <button class="btn btn-primary btn-sm" data-bs-toggle="dropdown">
                <span class="material-icons">keyboard_command_key</span>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <button class="dropdown-item" @onclick="OnCreate">
                    <span>Yeni</span>
                </button>
                <hr class="dropdown-divider" />
                <button class="dropdown-item">
                    <span>İçeri Aktar</span>
                </button>
                <button class="dropdown-item">
                    <span>Dışarı Aktar</span>
                </button>
            </div>
        </div>

    </div>
    @if (SearchTemplate != null)
    {
        <div class="accordion my-3">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed"
                            data-bs-toggle="collapse"
                            data-bs-target="#search_panel"
                            aria-expanded="false">
                        <span class="material-icons">search</span>
                        <span>Filtre</span>
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="search_panel">
                    <div class="accordion-body">
                        <form @onsubmit="OnSearchAsync">
                            @SearchTemplate
                            <div class="container-fluid mt-3">
                                <div class="d-flex justify-content-end align-items-center">
                                    <button class="btn btn-primary btn-sm d-flex justify-content-center align-items-center w-25" type="submit" disabled="@_searchIsBusy">
                                        @if (_searchIsBusy)
                                        {
                                            <span class="spinner-border spinner-border-sm"></span>
                                        }
                                        else
                                        {
                                            <span class="material-icons">search</span>
                                            <span>Arama</span>
                                        }
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="my-3">
        <div class="card">
            <div class="card-body">
                <div class="d-none d-md-block">
                    @Template
                </div>
                <div class="d-block d-md-none">
                    @MobileTemplate
                </div>
            </div>
        </div>
    </div>
</div>