@typeparam TModel

<EditForm EditContext="EditContext" OnValidSubmit="OnValidSubmit">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center my-3">
            @if (BreadCrumb != null)
            {
                @BreadCrumb
            }
            <div class="btn-toolbar d-none d-md-flex">
                <div class="btn-group btn-group-sm">
                    <RadzenButton Text="Kaydet"
                                  Icon="save"
                                  ButtonStyle="ButtonStyle.Primary"
                                  ButtonType="ButtonType.Submit" />

                    <RadzenButton Text="Sil"
                                  Icon="delete"
                                  ButtonStyle="ButtonStyle.Danger"
                                  ButtonType="ButtonType.Button"
                                  Click="OnDeleteAsync" />

                    <RadzenButton Text="Kapat"
                                  Icon="close"
                                  ButtonStyle="ButtonStyle.Dark"
                                  ButtonType="ButtonType.Button"
                                  Click="OnCloseAsync"
                                  class="ms-2" />
                    @if (ToolbarTemplate != null)
                    {
                        @ToolbarTemplate
                    }
                </div>
            </div>
            <div class="dropstart d-flex d-md-none">
                <button class="btn btn-primary btn-sm" data-bs-toggle="dropdown">
                    <span class="material-icons">keyboard_command_key</span>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    @if (MobileToolbarTemplate != null)
                    {
                        @MobileToolbarTemplate
                    }
                </div>
            </div>
        </div>
        <RadzenCard>
            @if (MobileTemplate != null)
            {
                <div class="d-none d-md-block">
                    @Template
                </div>
                <div class="d-block d-md-none">
                    @MobileTemplate
                </div>
            }
            else
            {
                @Template
            }
        </RadzenCard>
    </div>
</EditForm>