<RadzenDropDownDataGrid TValue="int"
                        Data="DataSource"
                        SearchText="Arama"
                        Placeholder="İşletme Seçiniz"
                        ValueProperty="Id"
                        Value="MerchantId"
                        class="form-control">
    <Columns>
        <RadzenDropDownDataGridColumn Property="Name" Title="Adı" />
        <RadzenDropDownDataGridColumn Title="Tipi">
            <Template Context="item">
                <span>@item.MerchantType.GetDescription()</span>
            </Template>
        </RadzenDropDownDataGridColumn>
    </Columns>
</RadzenDropDownDataGrid>