@inherits LayoutComponentBase
    <Loading>
        <AuthorizeView>
            <Authorized>
                <PageTitle>@XResource.AdminPageTitle</PageTitle>
                <AdminHeader />
                <main>
                    <div class="container-xl">
                        @Body
                    </div>
                </main>
            </Authorized>
            <NotAuthorized>
                <Login />
            </NotAuthorized>
        </AuthorizeView>
    </Loading>