<Detail ShowToolbar="true"
        PageTitle="@(Model.IsNew ? "Yeni Kategori Ekle" : $"Kategori : {Model.Name}")">
    <DetailView>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6">
                    <label class="col-form-label">Üst Kategori</label>
                    <select class="form-select" @bind="Model.Parent.Id">
                        @foreach (var item in SelectListHelper.GetCategorySelectList())
                        {
                            <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                        }

                    </select>
                </div>
                <div class="col-12 col-md-6">
                    <label class="col-form-label">Adı</label>
                    <input class="form-control" @bind-value="Model.Name" />
                </div>
                <div class="col-12 col-md-6">
                    <label class="col-form-label">Kategori Ağacı</label>
                    <input class="form-control" @bind-value="Model.FullName" disabled />
                </div>
                <div class="col-12 col-md-6">
                    <label class="col-form-label">Kısa Bilgi</label>
                    <input class="form-control" @bind-value="Model.Description" />
                </div>
                <div class="col-12 col-md-6">
                    <label class="col-form-label">Sıra No</label>
                    <input class="form-control" @bind-value="Model.DisplayOrder" type="number" />
                </div>
                <div class="col-12 col-md-6">
                    <label class="col-form-label">Aktif</label>
                    <input class="form-check-input" @bind-value="Model.IsActive" type="checkbox" />
                </div>
            </div>
        </div>
    </DetailView>
</Detail>