@page "/admin/categories"

<Summary PageTitle="Kategoriler" ShowToolbar="true" OnCreateClick="Create">
    <SummaryView>
        <RadzenDataGrid TItem="CategoryDto"
                        Data="DataSource"
                        AllowSorting="true"
                        AllowPaging="true"
                        PageSize="10"
                        PageSizeOptions="Global.GridPageSizeOptions">
            <Columns>
                <RadzenDataGridColumn TItem="CategoryDto" Property="DisplayOrder" Title="Sıra No" Width="5rem" />
                <RadzenDataGridColumn TItem="CategoryDto" Property="FullName" Title="Kategori Adı" />
                <RadzenDataGridColumn TItem="CategoryDto" Title="Aktif" Width="5rem">
                    <Template Context="item">
                        <span class="material-icons">@(item.IsActive ? "check_circle" : "cancel")</span>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </SummaryView>
    <MobileView>
        @if (DataSource != null)
        {
            <ul class="list-group">
                @foreach (var item in DataSource)
                {
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>@item.Name</span>
                            <div class="btn-group">
                                <button class="btn btn-light btn-sm">
                                    <span class="material-icons">edit</span>
                                </button>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
    </MobileView>
</Summary>