<div class="summary">
    <div class="container-fluid">
        @if (ShowHeader)
        {
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between align-items-center my-3">
                    <h2 class="m-0 fs-5 page-title">@PageTitle</h2>
                    @if (ShowToolbar)
                    {
                        <div class="btn-toolbar d-none d-md-flex">
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-primary" @onclick="OnCreate">
                                    <span class="material-icons">add</span>
                                    <span>Yeni</span>
                                </button>
                            </div>
                        </div>
                        <div class="dropstart d-flex d-md-none">
                            <button class="btn btn-primary btn-sm" data-bs-toggle="dropdown">
                                <span class="material-icons">keyboard_command_key</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <button class="dropdown-item" @onclick="OnCreate">
                                    <span>Yeni</span>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        <div class="my-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-none d-md-block">
                        @SummaryView
                    </div>
                    <div class="d-block d-md-none">
                        @MobileView
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>