@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <HeaderLayout />
        <div class="container-xl">
            @Body
        </div>
    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>