@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <HeaderLayout />
        <main>
            <Sidebar />
            <div class="container-fluid">
                @Body
            </div>
        </main>
    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>