<header class="sticky-top">
    <nav class="navbar navbar-expand-md navbar-dark sticky-top">
        <div class="container-xl">
            <a class="navbar-brand" href="/admin">XQR</a>
            <button class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target=".sidebar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <Sidebar />
</header>