.sidebar {
    max-width: 15rem;
}

.nav-link {
    font-size: .875rem;
    font-weight: 600;
    color: #1D273B;
}

    .nav-link:hover {
        background-color: #6168760d;
    }

    .nav-link[data-bs-toggle="collapse"]::after {
        content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
        position: absolute;
        right: 1rem;
        width: 1.25em;
        line-height: 0;
        transform: rotate(180deg);
        transition: transform .35s ease;
        transform-origin: .5em 50%;
    }

    .nav-link[aria-expanded="true"]::after {
        transform: rotate(90deg);
    }