<div class="navbar navbar-light d-none d-md-flex sidebar">
    <div class="container-xl">
        <ul class="nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="/admin" Match="NavLinkMatch.All">
                    <span>Kontrol Paneli</span>
                </NavLink>
            </li>
            <li class="nav-item dropdown">
                <NavLink class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                    <span>Finans</span>
                </NavLink>
                <ul class="dropdown-menu">
                    <li>
                        <NavLink class="dropdown-item" href="/admin/orders">
                            <span class="dropdown-item-text">Siparişler</span>
                        </NavLink>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <NavLink class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                    <span>Katalog</span>
                </NavLink>
                <ul class="dropdown-menu">
                    <li>
                        <NavLink class="dropdown-item" href="/admin/categories">
                            <span class="dropdown-item-text">Kategoriler</span>
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="dropdown-item" href="/admin/products">
                            <span class="dropdown-item-text">Ürünler</span>
                        </NavLink>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <NavLink class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                    <span>Yönetim</span>
                </NavLink>
                <ul class="dropdown-menu">
                    <li>
                        <NavLink class="dropdown-item" href="/admin/merchants">
                            <span class="dropdown-item-text">İşletmeler</span>
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="dropdown-item" href="/admin/services">
                            <span class="dropdown-item-text">Servisler</span>
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="dropdown-item" href="/admin/locations">
                            <span class="dropdown-item-text">Lokasyonlar</span>
                        </NavLink>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <NavLink class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                    <span>Kullanıcı Yönetimi</span>
                </NavLink>
                <ul class="dropdown-menu">
                    <li>
                        <NavLink class="dropdown-item" href="/admin/users">
                            <span class="dropdown-item-text">Kullanıcılar</span>
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="dropdown-item" href="/admin/usergroups">
                            <span class="dropdown-item-text">Kullanıcı Grupları</span>
                        </NavLink>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>