@page "/admin/product/list"
@inherits AuthComponent

<AuthorizeView Roles="@($"{nameof(UserGroupType.Admin)}, {nameof(UserGroupType.MerchantAdmin)},{nameof(UserGroupType.ServiceAdmin)}")">
    <Authorized>
        <GenericSummary PageTitle="Ürünler" OnCreate="OnCreate">
            <Template>
                <RadzenDataGrid TItem="ProductDto"
                                Data="DataSource"
                                AllowSorting="true"
                                AllowPaging="true"
                                PageSize="Globals.DefaultGridPageSize"
                                PageSizeOptions="Globals.GridPageSizes">
                    <Columns>
                        <RadzenDataGridColumn TItem="ProductDto" Property="DisplayOrder" Title="Sıra" />
                        <RadzenDataGridColumn TItem="ProductDto" Property="Category.Service.Name" Title="Hizmet Adı" />
                        <RadzenDataGridColumn TItem="ProductDto" Property="Category.Name" Title="Kategori Adı" />
                        <RadzenDataGridColumn TItem="ProductDto" Property="Name" Title="Adı" />
                        <RadzenDataGridColumn TItem="ProductDto" Title="Aktif" TextAlign="TextAlign.Center" Width="4rem">
                            <Template Context="item">
                                <span class="material-icons">@(item.IsActive ? "check_circle":"cancel")</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="ProductDto" TextAlign="TextAlign.Right" Width="7rem" Sortable="false">
                            <Template Context="item">
                                <RadzenButton Icon="edit"
                                              ButtonStyle="ButtonStyle.Light"
                                              Variant="Variant.Flat"
                                              Size="ButtonSize.Medium"
                                              Click="@(() => OnEdit(item.Id))" />
                                <RadzenButton Icon="delete"
                                              ButtonStyle="ButtonStyle.Danger"
                                              Variant="Variant.Flat"
                                              Size="ButtonSize.Medium"
                                              Click="@(() => OnDelete(item.Id))" />
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </Template>
        </GenericSummary>
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedPageView />
    </NotAuthorized>
</AuthorizeView>