@namespace Azox.Toolkit.Blazor

    <div class="position-fixed w-100 h-100 top-0 start-0 invisible" style="background-color:rgba(0, 0, 0, 0.5)">
        <div class="d-flex justify-content-center align-items-center w-100 h-100 m-auto">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
    </div>