@inherits AuthComponent

<div class="row">
    <div class="col-12 col-md-6">
        <div class="col-12">
            <label class="col-form-label">Hizmet</label>
            <RadzenDropDownDataGrid @bind-Value="Model.Service.Id"
                                    Data="MerchantServices"
                                    TValue="int"
                                    TextProperty="Name"
                                    ValueProperty="Id"
                                    AllowFiltering="false"
                                    Disabled="!Model.IsNew"
                                    class="form-control">
                <Columns>
                    <RadzenDropDownDataGridColumn Property="Merchant.Name" Title="İşletme" />
                    <RadzenDropDownDataGridColumn Property="Name" Title="Hizmet" />
                </Columns>
            </RadzenDropDownDataGrid>
        </div>
        <div class="col-12">
            <label class="col-form-label">Lokasyon Adı</label>
            <input class="form-control" @bind-value="Model.Name" />

        </div>
    </div>
    <div class="col-12 col-md-6">
        <label class="col-form-label">Lokasyon Kısa Bilgi</label>
        <textarea class="form-control" @bind="Model.Description" style="height:calc(100% - 38px);" />
    </div>
    @if (!Model.IsNew)
    {
        <div class="col-12 col-md-6">
            <label class="col-form-label">Lokasyon Uzantısı</label>
            <div class="input-group">
                <span class="input-group-text">
                    <QrCode LocationId="Model.Id" Width="70" Height="70" />
                </span>
                <input class="form-control" @bind-value="Model.Slug" disabled />
            </div>
        </div>
        <div class="col-12 col-md-6">
            <label class="col-form-label">Lokasyon Durumu</label>
            <RadzenSelectBar @bind-Value="Model.IsActive" TValue="bool" class="form-control">
                <Items>
                    <RadzenSelectBarItem Text="Aktif" Value="true" />
                    <RadzenSelectBarItem Text="Pasif" Value="false" />
                </Items>
            </RadzenSelectBar>
        </div>
    }

</div>
