@inherits AuthorizeComponent

<GenericDetail PageTitle="@(Model.IsNew ? "Yeni Kategori Ekle": $"{Model.Name} - Düzenle")">
    <ToolbarTemplate>
        <button class="btn btn-primary btn-sm" type="submit" @onclick="OnSave">
            <span>Kaydet</span>
        </button>
        @if (!Model.IsNew)
        {
            <button class="btn btn-secondary btn-sm" type="submit" @onclick="OnClose">
                <span>Kaydet & Kapat</span>
            </button>
            <button class="btn btn-danger btn-sm" type="button" @onclick="OnDelete">
                <span>Sil</span>
            </button>
        }
        <button class="btn btn-dark btn-sm" type="button" @onclick="OnClose">
            <span>Kapat</span>
        </button>
    </ToolbarTemplate>
    <Template>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6">
                    @if (MerchantServices != null)
                    {
                        <div class="col-12">
                            <label class="col-form-label">Hizmet</label>
                            <select class="form-select" @bind="Model.Service.Id">
                                @foreach (var item in MerchantServices)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                    }

                    <div class="col-12">
                        <label class="col-form-label">Kategori Adı</label>
                        <input class="form-control" @bind-value="Model.Name" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <label class="col-form-label">Kategori Kısa Bilgi</label>
                    <textarea class="form-control" style="height:calc(100% - 37px);" @bind="Model.Description" />
                </div>
            </div>
        </div>
    </Template>
</GenericDetail>