<GenericDetail Model="Model"
               OnClose="OnClose"
               OnDelete="OnDelete"
               OnSave="OnSave">
    <BreadCrumb>
        <RadzenBreadCrumb>
            <RadzenBreadCrumbItem Text="Kategoriler" Path="/admin/category/list" />
            <RadzenBreadCrumbItem Text="@(Model.IsNew ? "Yeni Kategori Ekle" : Model.Name)" />
        </RadzenBreadCrumb>
    </BreadCrumb>
    <Template>
        <div class="container-fluid">
            @if (Model.IsNew)
            {
                <MainTabContent />
            }
            else
            {
                <RadzenTabs>
                    <Tabs>
                        <RadzenTabsItem Text="Genel">
                            <MainTabContent />
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Ürünler">
                            <ProductsTabContent />
                        </RadzenTabsItem>
                    </Tabs>
                </RadzenTabs>
            }
        </div>
    </Template>
</GenericDetail>