@page "/admin/category/list"
@inherits AuthComponent

<AuthorizeView Roles="@($"{nameof(UserGroupType.Admin)}, {nameof(UserGroupType.MerchantAdmin)},{nameof(UserGroupType.ServiceAdmin)}")">
    <Authorized>
        <GenericSummary PageTitle="Kategoriler">
            <Template>
                <RadzenDataGrid TItem="CategoryDto"
                                Data="DataSource"
                                AllowSorting="true"
                                AllowPaging="true"
                                PageSize="Globals.DefaultGridPageSize"
                                PageSizeOptions="Globals.GridPageSizes">
                    <Columns>
                        <RadzenDataGridColumn TItem="CategoryDto" Property="Service.Name" Title="Hizmet Adı" />
                        <RadzenDataGridColumn TItem="CategoryDto" Property="DisplayOrder" Title="İşletme Adı" />
                        <RadzenDataGridColumn TItem="CategoryDto" Property="FullName" Title="Adı" />
                        <RadzenDataGridColumn TItem="CategoryDto" Title="Aktif" TextAlign="TextAlign.Center" Width="4rem">
                            <Template Context="item">
                                <span class="material-icons">@(item.IsActive ? "check_circle":"cancel")</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="CategoryDto" TextAlign="TextAlign.Right" Width="7rem">
                            <Template Context="item">
                                <div class="d-flex justify-content-between">
                                    <button class="btn btn-sm btn-light shadow rounded-2" @onclick="@(()=>OnEdit(item.Id))">
                                        <span class="material-icons">edit</span>
                                    </button>
                                    <button class="btn btn-sm btn-dark shadow rounded-2" @onclick="@(()=>OnDelete(item.Id))">
                                        <span class="material-icons">delete</span>
                                    </button>
                                </div>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </Template>
        </GenericSummary>
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedPageView />
    </NotAuthorized>
</AuthorizeView>