@namespace Azox.XQR.Presentation.Web.Areas.Admin.Pages.Merchant

<RadzenDataGrid TItem="LocationDto"
                Data="DataSource"
                AllowPaging="true"
                AllowSorting="true"
                EmptyText="Kayıt bulunamadı"
                PageSize="10"
                PageSizeOptions="new List<int> { 5, 10, 20, 50, 100 }"
                PageSizeText="Sayfa başına kayıt"
                ShowPagingSummary="true"
                PagingSummaryFormat="Toplam {1} sayfa ve {2} kayıt">
    <Columns>
        <RadzenDataGridColumn TItem="LocationDto" Property="Service.Name" Title="Hizmet Adı" />
        <RadzenDataGridColumn TItem="LocationDto" Property="Name" Title="Lokasyon Adı" />
        <RadzenDataGridColumn TItem="LocationDto" Title="Aktif" Width="4rem" TextAlign="TextAlign.Center">
            <Template Context="item">
                <span class="material-icons">@(item.IsActive ? "check_circle": "cancel")</span>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="LocationDto" Sortable="false" TextAlign="TextAlign.Right" Width="7rem">
            <Template Context="item">
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-sm btn-light" @onclick="@(()=> Edit(item.Id))">
                        <span class="material-icons">edit</span>
                    </button>
                    <button class="btn btn-sm btn-dark" @onclick="@(()=> Delete(item.Id))">
                        <span class="material-icons">delete</span>
                    </button>
                </div>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>