@namespace Azox.XQR.Presentation.Web.Areas.Admin.Pages.Merchant
<div class="row">
    <div class="col-12 col-md-6">
        <div class="col-12">
            <label class="col-form-label">İşletme Tipi</label>
            <select class="form-select" @bind="Model.MerchantType" required>
                @foreach (var item in Model.MerchantTypes)
                {
                    <option value="@item.Value">@item.Key</option>
                }
            </select>
        </div>
        <div class="col-12">
            <label class="col-form-label">İşletme Adı</label>
            <input class="form-control" @bind-value="Model.Name" required />
        </div>
    </div>
    <div class="col-12 col-md-6">
        <label class="col-form-label">İşletme Kısa Bilgi</label>
        <textarea class="form-control" style="height: calc(100% - 38px);" maxlength="4000" @bind="Model.Description" />
    </div>
</div>
@if (!Model.IsNew)
{
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="col-12">
                <label class="col-form-label">Yetkili</label>
                <input class="form-control" @bind-value="Model.Contact.Name" />
            </div>
            <div class="col-12">
                <label class="col-form-label">Yetkili Telefon</label>
                <input class="form-control" @bind-value="Model.Contact.Phone" />
            </div>
            <div class="col-12">
                <label class="col-form-label">Yetkili E-Mail</label>
                <input class="form-control" @bind-value="Model.Contact.Email" />
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="d-flex justify-content-center align-items-center" style="height: calc(100% - 38px);">
                <img class="img-thumbnail" src="@($"/dist/images/{Model.Picture.FileName}")" style="max-width:10rem;" />
            </div>
            <InputFile class="form-control" OnChange="OnFileSelected" accept=".jpg,.png" />
        </div>
    </div>
}