@page "/admin/"
@using Microsoft.AspNetCore.Components.Web
@namespace Azox.XQR.Presentation.Areas.Admin.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <base href="/admin" />
    <link rel="stylesheet" href="~/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/dist/css/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/dist/css/main.min.css" />
    <link rel="stylesheet" href="Azox.XQR.Presentation.styles.css" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(AdminApp)" render-mode="ServerPrerendered" />
    <script src="_framework/blazor.server.js"></script>
    <script src="~/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html> 