main {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.form {
    width: 100%;
    height: 100%;
    max-width: 20rem;
    max-height: 20rem;
    padding: 15px;
    margin: auto;
    background-color: rgba(29,39,59,1);
    color: rgba(255,255,255,1);
    -moz-box-shadow: 0 .5rem 1rem 0.5rem rgba(29,39,59,1) !important;
    -webkit-box-shadow: 0 .5rem 1rem 0.5rem rgba(29,39,59,1) !important;
    box-shadow: 0 .5rem 1rem 0.5rem rgba(29,39,59,1) !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}