<HeadContent>
    <link rel="stylesheet" href="/_themes/dist/css/XQR.Themes.Default/1.0.0/main.min.css">
</HeadContent>

<header class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-md">
        <button class="btn btn-dark">
            <span class="material-icons">menu</span>
        </button>
        <a class="navbar-brand">XQR</a>
        <a class="btn btn-dark" href="tel:05383760000">
            <span class="material-icons">call</span>
        </a>
    </div>
</header>
<main class="splash">
    <div class="container-md h-100">
        <div class="row row-cols-3 h-25">
            <div class="col">
                <button>
                    <i class="material-icons">restaurant_menu</i>
                    <span>İstekler</span>
                </button>
            </div>
            <div class="col">
                <button>
                    <i class="material-icons">payments</i>
                    <span>Hesap İste</span>
                </button>
            </div>
            <div class="col">
                <button>
                    <i class="material-icons">back_hand</i>
                    <span>Garson Çağır</span>
                </button>
            </div>
        </div>
        <div class="row row-cols-1 h-50">
            <div class="col">
                <button class="menu">
                    <i class="material-icons">restaurant_menu</i>
                    <span>Menü</span>
                </button>
            </div>
        </div>
        <div class="row row-cols-3 h-25">
            <div class="col">
                <button>
                    <i class="material-icons">restaurant_menu</i>
                    <span>Kişi Hesabı</span>
                </button>
            </div>
            <div class="col">
                <button>
                    <i class="material-icons">restaurant_menu</i>
                    <span>Masa Hesabı</span>
                </button>
            </div>
            <div class="col">
                <button>
                    <i class="material-icons">restaurant_menu</i>
                    <span>Öneri</span>
                </button>
            </div>
        </div>
    </div>
</main>
<footer class="navbar navbar-dark bg-dark fixed-bottom">
    <div class="container-md justify-content-center">
        <span class="copyright">Copyright XQR</span>
    </div>
</footer>