@using Azox.XQR.Presentation.Core.Themes
@inherits ThemeMainComponentBase

    <HeadContent>
        <link rel="stylesheet" href="_content/XQR.Themes.Default/css/main.min.css" asp-append-version="true">
    </HeadContent>

    <header class="navbar navbar-expand-md sticky-top">
        <div class="container-md">
            <a class="navbar-brand" href="#" @onclick="GotoHome">XQR</a>
        </div>
    </header>