<RadzenFieldset Text="Yetkili">
    <ChildContent>
        <div class="row">
            <div class="col-12 col-md-6">
                <label class="col-form-label">Adı Soyadı</label>
                <input class="form-control" @bind-value="Model.Contact.Name" />
            </div>
            <div class="col-12 col-md-6">
                <label class="col-form-label">Telefon</label>
                <input class="form-control" @bind-value="Model.Contact.Phone" />
            </div>
            <div class="col-12 col-md-6">
                <label class="col-form-label">E-Mail</label>
                <input class="form-control" @bind-value="Model.Contact.Email" />
            </div>
        </div>
    </ChildContent>
</RadzenFieldset>

<RadzenFieldset Text="Sosyal Medya" class="mt-2">
    <ChildContent>
        <div class="row">
            <div class="col-12 col-md-6">
                <label class="col-form-label">Facebook</label>
                <input class="form-control" @bind-value="Model.FacebookLink" />
            </div>
            <div class="col-12 col-md-6">
                <label class="col-form-label">Instagram</label>
                <input class="form-control" @bind-value="Model.InstagramLink" />
            </div>
        </div>
    </ChildContent>
</RadzenFieldset>