<div class="row">
    <div class="col-12 col-md-6">
        <label class="col-form-label">İşletme Sahibi</label>
        <input class="form-control" @bind-value="Model.Contact.Name" />
    </div>
    <div class="col-12 col-md-6">
        <label class="col-form-label">İşletme Sahibi Telefon</label>
        <input class="form-control" @bind-value="Model.Contact.Phone" />
    </div>
    <div class="col-12 col-md-6">
        <label class="col-form-label">İşletme Sahibi E-Mail</label>
        <input class="form-control" @bind-value="Model.Contact.Email" />
    </div>
    <div class="col-12 col-md-6">
        <label class="col-form-label">İşletme Facebook Profil Adresi</label>
        <input class="form-control" @bind-value="Model.FacebookLink" />
    </div>
    <div class="col-12 col-md-6">
        <label class="col-form-label">İşletme Instagram Profil Adresi</label>
        <input class="form-control" @bind-value="Model.InstagramLink" />
    </div>
</div>