<RadzenDataGrid TItem="LocationDto"
                Data="DataSource"
                AllowSorting="true"
                AllowPaging="true"
                PageSize="Globals.DefaultGridPageSize"
                PageSizeOptions="Globals.GridPageSizes">
    <Columns>
        <RadzenDataGridColumn TItem="LocationDto" TextAlign="TextAlign.Center" Sortable="false">
            <Template Context="item">
                <QrCode LocationId="item.Id" Width="70" Height="70" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="LocationDto" Property="Service.Name" Title="Hizmet Adı" />
        <RadzenDataGridColumn TItem="LocationDto" Property="Name" Title="Adı" />
        <RadzenDataGridColumn TItem="LocationDto" Title="Türü">
            <Template Context="item">
                <span>@item.Service.ServiceType.GetDescription()</span>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="LocationDto" Title="Aktif" TextAlign="TextAlign.Center" Width="4rem">
            <Template Context="item">
                <span class="material-icons">@(item.IsActive ? "check_circle":"cancel")</span>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="LocationDto" TextAlign="TextAlign.Right" Width="7rem" Sortable="false">
            <Template Context="item">
                <RadzenButton Icon="edit"
                              ButtonStyle="ButtonStyle.Light"
                              Variant="Variant.Flat"
                              Size="ButtonSize.Medium"
                              Click="@(() => OnEdit(item.Id))" />
                <RadzenButton Icon="delete"
                              ButtonStyle="ButtonStyle.Danger"
                              Variant="Variant.Flat"
                              Size="ButtonSize.Medium"
                              Click="@(() => OnDelete(item.Id))" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>