<GenericLayout Title="@(Model.IsNew ? "Yeni İşletme Ekle":$"{Model.Name} - Düzenle")">
    <TopToolbar>
        <div class="btn-group btn-group-sm">
            <button class="btn btn-primary" @onclick="Save">
                <span>Kaydet</span>
            </button>
            @if (!Model.IsNew)
            {
                <button class="btn btn-secondary" @onclick="SaveAndClose">
                    <span>Kaydet & Kapat</span>
                </button>
                <button class="btn btn-danger" @onclick="Delete">
                    <span>Sil</span>
                </button>
            }
            <button class="btn btn-dark" @onclick="Close">
                <span>Kapat</span>
            </button>
        </div>
    </TopToolbar>
    <Body>
        <CascadingValue Value="Model">
            @if (Model.IsNew)
            {
                <Detail_Main />
            }
            else
            {
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#main">
                    <span>Genel</span>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#services">
                    <span>Hizmetler</span>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#locations">
                    <span>Lokasyonlar</span>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#users">
                    <span>Kullanıcılar</span>
                </button>
            </li>
        </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="main">
                        <div class="card">
                            <div class="card-body">
                                <Detail_Main />
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="services">
                        <div class="card">
                            <div class="card-body">
                                <Detail_Services />
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="locations">
                        <div class="card">
                            <div class="card-body">
                                <Detail_Locations />
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="users">
                        <div class="card">
                            <div class="card-body">
                                <Detail_Users/>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </CascadingValue>
    </Body>
</GenericLayout>