<GenericDetail Model="Model"
               PageTitle="@(Model.IsNew ? "Yeni İşletme Ekle": $"{Model.Name} - Düzenle")"
               OnClose="OnClose"
               OnDelete="OnDelete"
               OnSave="OnSave">
    <Template>
        <CascadingValue Value="Model">
            <div class="container-fluid">
                @if (Model.IsNew)
                {
                    <MainTabContent />
                }
                else
                {
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#main" type="button">
                                <span>Genel</span>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#services" type="button">
                                <span>Hizmetler</span>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#locations" type="button">
                                <span>Lokasyonlar</span>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#contact" type="button">
                                <span>İletişim</span>
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="main">
                            <MainTabContent />
                        </div>
                        <div class="tab-pane fade" id="services">
                            <MerchantServeTabContent />
                        </div>
                        <div class="tab-pane fade" id="locations">
                            <LocationTabContent />
                        </div>
                        <div class="tab-pane fade" id="contact">
                            <ContactTabContent />
                        </div>
                    </div>
                }
            </div>
        </CascadingValue>
    </Template>
</GenericDetail>