<GenericLayout Title="@(Model.IsNew ? "Yeni İşletme Ekle":$"{Model.Name} - Düzenle")">
    <TopToolbar>
        <div class="btn-group btn-group-sm">
            <button class="btn btn-primary" @onclick="Save">
                <span>Kaydet</span>
            </button>
            @if (!Model.IsNew)
            {
                <button class="btn btn-secondary" @onclick="SaveAndClose">
                    <span>Kaydet & Kapat</span>
                </button>
                <button class="btn btn-danger" @onclick="Delete">
                    <span>Sil</span>
                </button>
            }
            <button class="btn btn-dark" @onclick="Close">
                <span>Kapat</span>
            </button>
        </div>
    </TopToolbar>
    <Body>

    </Body>
</GenericLayout>