<GenericDetail Model="Model"
               OnClose="OnClose"
               OnDelete="OnDelete"
               OnSave="OnSave">
    <BreadCrumb>
        <RadzenBreadCrumb>
            <RadzenBreadCrumbItem Text="İşletmeler" Path="/admin/merchant/list" />
            <RadzenBreadCrumbItem Text="@(Model.IsNew ? "Yeni İşletme Ekle" : Model.Name)" />
        </RadzenBreadCrumb>
    </BreadCrumb>
    <Template>
        <CascadingValue Value="Model">
            <div class="container-fluid">
                @if (Model.IsNew)
                {
                    <MainTabContent />
                }
                else
                {
                    <RadzenTabs TabPosition="TabPosition.Top">
                        <Tabs>
                            <RadzenTabsItem Text="Genel">
                                <MainTabContent />
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Hizmetler">
                                <MerchantServeTabContent />
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Lokasyonlar">
                                <LocationTabContent />
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="İletişim">
                                <ContactTabContent />
                            </RadzenTabsItem>
                        </Tabs>
                    </RadzenTabs>
                }
            </div>
        </CascadingValue>
    </Template>
</GenericDetail>