<EditForm EditContext="EditContext" OnValidSubmit="OnSave">
    <GenericDetail PageTitle="@(Model.IsNew ? "Yeni İşletme Ekle": $"{Model.Name} - Düzenle")">
        <ToolbarTemplate>
            <button class="btn btn-primary btn-sm" type="submit">
                <span>Kaydet</span>
            </button>
            @if (!Model.IsNew)
            {
                <button class="btn btn-secondary btn-sm" type="submit" @onclick="OnClose">
                    <span>Kaydet & Kapat</span>
                </button>
                <button class="btn btn-danger btn-sm" type="button" @onclick="OnDelete">
                    <span>Sil</span>
                </button>
            }
            <button class="btn btn-dark btn-sm" type="button" @onclick="OnClose">
                <span>Kapat</span>
            </button>
        </ToolbarTemplate>
        <Template>
            <CascadingValue Value="Model">
                <div class="container-fluid">
                    @if (Model.IsNew)
                    {
                        <MainTabContent />
                    }
                    else
                    {
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#main" type="button">
                                    <span>Genel</span>
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#contact" type="button">
                                    <span>İletişim</span>
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="main">
                                <MainTabContent />
                            </div>
                            <div class="tab-pane fade" id="contact">
                                <ContactTabContent />
                            </div>
                        </div>
                    }
                </div>
            </CascadingValue>
        </Template>
    </GenericDetail>
</EditForm>