@if (Show)
{
    <div class="d-flex w-100 h-100 align-items-center">
        <div class="page-wrapper">
            <EditForm Model="Model" OnValidSubmit="LoginAsync">
                <DataAnnotationsValidator />
                <h4 class="page-title text-center mb-4">XQR</h4>

                <div class="row">
                    <div class="input-group mb-2">
                        <span class="input-group-text bi bi-person"></span>
                        <InputText @bind-Value="Model.Username" class="form-control" placeholder="Kullanıcı Adı" required disabled="@PasswordChangeOnFirstLogin" />
                    </div>
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text bi bi-key"></span>
                    <InputText @bind-Value="Model.Password" type="password" class="form-control" placeholder="Şifre" required disabled="@PasswordChangeOnFirstLogin" />
                </div>
                @if (PasswordChangeOnFirstLogin)
                {
                    <div class="input-group mb-4">
                        <span class="input-group-text bi bi-key"></span>
                        <InputText @bind-Value="Model.NewPassword" type="password" class="form-control" placeholder="Yeni Şifre" required />
                    </div>
                    <div class="input-group mb-4">
                        <span class="input-group-text bi bi-key"></span>
                        <InputText @bind-Value="Model.ConfirmNewPassword" type="password" class="form-control" placeholder="Yeni Şifre Tekrar" required />
                    </div>
                }

                <button type="submit" class="btn btn-lg btn-primary w-100">
                    @if (IsBusy)
                    {
                        <span class="spinner-border spinner-border-sm"></span>
                    }
                    <span>Giriş Yap</span>
                </button>
            </EditForm>
        </div>
    </div>
}