@if (Model != null)
{
    <div class="card">
        <div class="card-body">
            @*<RadzenDataGrid TItem="MerchantServeDto" Data="Model.Stores" AllowSorting="true" AllowPaging="true" PageSize="10" PageSizeOptions="new List<int>{5,10,20,50,100}">
                <Columns>
                    <RadzenDataGridColumn TItem="MerchantServeDto" Property="Name" Title="Hizmet Adı" />
                    <RadzenDataGridColumn TItem="MerchantServeDto" Title="Hizmet Tipi">
                        <Template Context="store">
                            <span>@store.ServiceType.GetDescription()</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="MerchantServeDto" TextAlign="TextAlign.Right" Sortable="false">
                        <Template Context="store">
                            <div class="btn-group btn-group-sm me-2">
                                <button class="btn btn-sm btn-primary rounded-4 me-2"
                                    @onclick="@(() => NavigationManager.NavigateTo($"/admin/store/{store.Id}"))">
                                    <i class="bi bi-pen"></i>
                                </button>
                                <button class="btn btn-sm btn-danger rounded-4">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>*@
        </div>
    </div>
}